
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand">{{title}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
      [routerLink]="['/calendar']" 
      routerLinkActive="active">calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/calendar',0,'edit']" routerLinkActive="active">Add a meet</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"
        *ngIf="!isLoggedIn">
      <a class="nav-link">Welcome {{ userName }}</a>
    </li>
    <!-- <li class="nav-item"
        *ngIf="!isMessageDisplayed">
      <a class="nav-link"
         (click)="displayMessages()">Show Messages</a>
    </li>
    <li class="nav-item"
        *ngIf="isMessageDisplayed">
      <a class="nav-link"
         (click)="hideMessages()">Hide Messages</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" 
      [routerLink]="[{outlets: {usersdisplay: ['showusers']}}]" 
      routerLinkActive="active">show Users</a>
    </li>
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link" [routerLink]= "['/login']">SignIn</a>
    </li>
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link" [routerLink]= "['/signup']">Signup</a>
    </li>
    <li class="nav-item"
        *ngIf="!isLoggedIn">
      <a class="nav-link" href='#'
         (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2 ml-auto">
    <router-outlet name="usersdisplay"></router-outlet>
  </div>
</div>
</div>